<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511639600065-pdj2rmd37j9ia4lg6m072sbogf4kubim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511639600065-pdj2rmd37j9ia4lg6m072sbogf4kubim</string>
	<key>API_KEY</key>
	<string>AIzaSyDHm9XTWDu6Lqn8dZ_l1LepqZaE55BgnWY</string>
	<key>GCM_SENDER_ID</key>
	<string>511639600065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cityWealthLive</string>
	<key>PROJECT_ID</key>
	<string>citywealthlive</string>
	<key>STORAGE_BUCKET</key>
	<string>citywealthlive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511639600065:ios:7ef8632955c0ffe5160d40</string>
</dict>
</plist>